@tailwind base;
@tailwind components;
@tailwind utilities;

::selection{
    background-color: #4A14B5;
    color: white;
}


body{
    font-family: "Jaini", system-ui;
    /* letter-spacing: 0.2em; */

}

.dark-theme{
    background-color: black;
    color: white;
    --cursor-color: #fff

}


.light-theme{
    background-color: white;
    color: black;
    --cursor-color: #333
}

@media (max-width: 768px) {
    html{
        font-size: 80%;
    }
    .App{
        display: none;
    }
}
@media (max-width: 640px) {
    html{
        font-size: 70%;
    }
}